.new-chat-container {
  height: 100vh;
  width: 100vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-chat-image-wrapper {
  margin-bottom: 2.5rem;
  width: 60%; /* Controls the width of the container */
  height: 28%; /* Fixed height for the container */
  background-color: grey;
  border-radius: 0.5rem;
  overflow: hidden; /* Ensure the image doesn't overflow out of the container */
}

.new-chat-image {
  width: 100%; /* Make the image fill the entire container's width */
  height: 100%; /* Make the image fill the entire container's height */
  object-fit: cover; /* Ensures the image covers the container without distortion */
  filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.25));
}

input[type="file"] {
  display: none; /* Hide the actual file input */
}

.new-chat-input {
  width: 80%;
  border-radius: 0.25rem;
  border: none;
  margin-top: 2rem;
  text-align: center;
  filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.25));
}

.name-input {
  height: 2.5rem;
}

.large-input {
  height: 5rem;
  text-align: center;
  padding: 2rem 1rem;
  resize: none;
}

.new-chat-button {
  margin-top: 4rem;
  width: 60%;
  height: 7.5%;
  border-radius: 0.5rem;
  border: none;
  font-size: 20px;
  background-color: white;
  filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.25));
}

.new-chat-button:focus,
.new-chat-image:focus {
  filter: brightness(0.9);
  transform: scale(1.01);
}
