.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-animation {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #8c52ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
